<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <!-- 背景 -->
  <div class="bg-[#EADCC3] min-h-screen relative">
    <!-- 外枠 -->
    <div class="absolute top-[36px] left-[35px] right-[35px] bottom-[36px] border border-[#985920]"></div>
    <div class="absolute top-[46px] left-[45px] right-[45px] bottom-[46px] border border-[#985920]"></div>
    <div class="absolute top-[56px] left-[55px] right-[55px] bottom-[56px] border border-[#985920]"></div>
    <div class="absolute top-[66px] left-[65px] right-[65px] bottom-[66px] border border-[#985920]"></div>
    <%= yield %>
  </div>
  </body>
</html>
