<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "文豪豆知識" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- PWA対応 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <!-- Twitterカード -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="文豪豆知識" />
    <meta name="twitter:image" content="<%= image_url('pc/ogp.png', host: request.base_url) %>" />
    <meta property="og:title" content="文豪豆知識" />
    <meta property="og:description" content="これであなたも文豪マスター！" />
    <meta property="og:image" content="<%= image_url('pc/ogp.png', host: request.base_url) %>" />
    <meta property="og:url" content="<%= root_url %>" />
    <meta property="og:type" content="website" />
  </head>

  <body class="bg-[#EADCC3] w-screen min-h-screen relative overflow-auto m-0 p-0">
    <%= yield %>

    <!-- フッター-->
    <footer class="absolute right-[35px] bottom-[15px] sm:bottom-[10px] text-sm text-[#985920] select-none">
      © 2025 文豪豆知識
    </footer>
  </body>
</html>
